#################
## Java specific
#################
*.class

# Package Files #
*.jar
*.war
*.ear

# Maven specific #
target/

# Build results
lib/
[Dd]ebug/
[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.vspscc
.builds
*.dotCover

.idea/
**.iml