<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="sport.properties"/>

    <bean id="myFortune"
          class="com.msyrovets.HappyFortuneService"/>

    <bean id="randomFortune"
          class="com.msyrovets.RandomFortuneService"/>

    <bean id="myCoach"
          class="com.msyrovets.TrackCoach">
        <constructor-arg ref="myFortune"/>
    </bean>

    <bean id="trampolineCoach"
          class="com.msyrovets.TrampolineCoach"
          init-method="doMyStartupStaff"
          destroy-method="doMyCleanupStaff">
        <constructor-arg ref="randomFortune"/>
    </bean>

    <bean id="myCricketCoach"
          class="com.msyrovets.CricketCoach">
        <property name="fortuneService" ref="myFortune"/>

        <property name="email" value="${foo.email}"/>
        <property name="team" value="${foo.team}"/>
    </bean>

</beans>





